{
    "chmod": "0700",
    "directories": [
        "vendor/friendsofphp",
        "stubs",
        "stubs/vuepress/.vuepress",
        "vendor/twig/twig/src"
    ],
    "files": [
        "stubs/vuepress/.gitignore.twig"
    ],
    "force-autodiscovery": true,
    "output": "codingStyleGenerator.phar",
    "compactors": [
        "KevinGH\\Box\\Compactor\\Php",
        "KevinGH\\Box\\Compactor\\Json"
    ]
}
